{% extends 'crypto/base.html' %}
{% load static %}
{% block content %}
  <div class="mx-auto" style="width: 200px;">
    <h4>Name: {{jsonData.name}}</h4>
    <h4>ID: {{jsonData.id}}</h4>
    <h4>Symbol: {{jsonData.symbol}}</h4>
    <h4>Date Added: {{jsonData.date_added}}</h4>
    <h4>Max Supply: {{jsonData.max_supply}}</h4>
    <h4>Circulating Supply: {{jsonData.circulating_supply}}</h4>
    <h4>Total Supply: {{jsonData.total_supply}}</h4>
    <h4>Last Updated: {{jsonData.last_updated}}</h4>
  </br>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script language="JavaScript"><!--
  function displayLineChart() {
    var data = {
        labels: {{labels|safe}},
        datasets: [
            {
                label: "Prime and Fibonacci",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{data}}
            },
            
        ]
    };
    var ctx = document.getElementById("lineChart").getContext("2d");
    var options = {
      responsive: true,
    };
    var lineChart = new Chart(ctx).Line(data, options);
  }
  --></script>
<div class="align-content">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Day</button>
      <button type="button" class="btn btn-secondary">Week</button>
      <button type="button" class="btn btn-secondary">Month</button>
      <button type="button" class="btn btn-secondary">Year</button>
    </div>
  <div class="box">
  <body onload="displayLineChart();">
    <canvas id="lineChart" height="450" width="800"></canvas>
  </body>
</div>
  
{% endblock %}
