{% extends 'crypto/base.html' %}
{% load static %}

{% block content %}
<div class= "row">
  <div class="col-sm">
    <table id="crypto-table" class="table table-striped" style="width:100%">
       <thead>
           <tr>
               <th scope="col">Rank</th>
               <th scope="col">Name</th>
               <th scope="col">Symbol</th>
               <th scope="col">Price</th>
           </tr>
       </thead>
        <tbody>
        {% for crypto in best_crypto_list %}
            <tr>
                <td><li><a>{{ crypto.rank }}</a></li></td>
                <td><li><a href="{% url 'crypto:detail' crypto.id %}">{{ crypto.name }}</a></li></td>
                <td><li><a>{{ crypto.symbol }}</a></li></td>
                <td><li><a>{{ crypto.price }}</a></li></td>
            </tr>
        {% endfor %}
       </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block js %}
 
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
 
<script>
    $(document).ready(function () {
    $('#crypto-table').DataTable( {
        "paging": true,
        "searching": true,
        "autoWidth": false,
        "ordering": true,
        "columnDefs": [
            {"width": "50px", "targets": 0},
            {"width": "250px", "targets": 1},
        ],
    }
    );
} );
</script>
{% endblock js %}