{% extends 'crypto/base.html' %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
.dt {
  border: 1px solid orange; 
  padding: 35px 70px;
}
.like {
  align-self:center;  
}
</style>

<div class="dt"
</br></br>
<h4>Title: {{news.title}}</h4>
<h1><a href="{% url 'members:show_profile_page' news.author.profile.id %}">Author: {{news.author}}</h1>

<h4>{{news.post_date}}</h4>
<h4>{{news.body|safe}}</h4>
</div>

<ul class="list-group list-group-flush dt">
{% if comments %}
<br/><br/>
<h2>Comments</h2>
<a href="{% url 'crypto:add_comment' news.pk %}">Add Comment</a>
{% for comment in comments %}
    <strong>
        {{comment.name}}-
        {{comment.date_added}}
    </strong>
    <br/>
    {{comment.body}}
    <hr>
{% endfor %}
{% else %}
  No Comments Yet...<a href="{% url 'crypto:add_comment' news.pk %}">Add One</a>
{%  endif %}
</ul>
<hr>

  <div class="like"
  <span>
    Did you like this news? Press like to make it easier for others to see
  </span>
</br></br>
</br>

{% if liked %}
    <button type= "button", value="{{ news.id }}", class="fa fa-heart thumb"></button>
{% else %}
    <button type= "button", value="{{ news.id }}", class="fa fa-heart-o thumb"></button>
{% endif %}

</div>
</div>

{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $('.thumb').click(function () {
            $.ajax({
                type: 'POST',
                url: '{% url 'crypto:like_post' news.pk %}',
                data: {
                    'post_id': '{{ news.id }}',
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: LikePost,
                dataType: 'html'
            });

            function LikePost(data, jqXHR) {
                var data = $.parseJSON(data)
                if (data['liked']) {
                    $('.thumb').removeClass("fa fa-heart-o thumb").addClass('fa fa-heart thumb')
                }
                else
                    {
                        $('.thumb').removeClass("fa fa-heart thumb").addClass('fa fa-heart-o thumb')
                    }


            }
        });
});
</script>
{% endblock js %}


